<div class="col-12 col-md-12 col-sm-12 p-0">
    <div class="bg-2 py-5">
        <div class="d-flex justify-content-evenly">
            <img src="assets/user-2.png" alt="user" width="150px" height="150px" class="pos-1">
            <div class="direct">
                <h4>HRM MANAGEMENT(#14357)</h4>
                <span class="d-block">technical Lead</span>
                <span class="d-block mb-3">Bengalore</span>
                <span class="view p-2"><a href="#">View direct Reports</a></span>
            </div>
        </div>
    </div>
    <div class="py-3">
        <h4 class="text-center">ABOUT</h4>
        <div class="col-md-12 p-0 py-2">
            <div class="row m-0">
                <div class="col-md-5 p-0">
                    <div class="contact px-3">
                        <div class="card mb-3 border-none">
                            <div class="card-header bg-transparent"><b>With management since 4 months</b></div>
                            <div class="card-body">
                              <h5 class="card-title">Contact Details <span><i class="fas fa-pencil-alt"></i></span></h5>
                                <div class="d-flex py-1">
                                    <span class="w-15">mobile</span>
                                    <span class="px-3">&#58;</span>
                                    <span>987654325</span>
                                </div>
                                <div class="d-flex py-1">
                                    <span class="w-15">Email</span>
                                    <span class="px-3">&#58;</span>
                                    <span>&#95;</span>
                                </div>
                                <div class="d-flex py-1">
                                    <span class="w-15">Twitter</span>
                                    <span class="px-3">&#58;</span>
                                    <span>&#95;</span>
                                </div>
                                <div class="d-flex py-1">
                                    <span class="w-15">Facebook</span>
                                    <span class="px-3">&#58;</span>
                                    <span>&#95;</span>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent">Address Details</div>
                          </div>
                    </div>
                </div>
                <div class="col-md-7 p-0">
                    <div class="person-details px-3">
                        <div class="card">
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">
                                  <div class="d-flex justify-content-between">
                                      <span><b>Languages</b></span>
                                      <span><i class="fas fa-plus-circle"></i></span>
                                  </div>
                                  <div class="py-3">
                                    <span>Add Languages</span>
                                  </div>
                              </li>
                              <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <span><b>Achievements</b></span>
                                    <span><i class="fas fa-plus-circle"></i></span>
                                </div>
                                <div class="py-3">
                                  <span>Add Achievements</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <span><b>Hobbies</b></span>
                                    <span><i class="fas fa-plus-circle"></i></span>
                                </div>
                                <div class="py-3">
                                  <span>Add Hobbies</span>
                                </div>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
