<div>
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-success">
            <tr>
                <td>Employee Id</td>
                <td>Employee Name</td>
                <td>Email id</td>
                <td>Designation</td>
                <td>MobileNo</td>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </tbody>
        
    </table>
</div>
