/* You can add global styles to this file, and also import other style files */
//header text-color//
a{
    text-decoration: none;
    color: #fff !important;
}
.hc{
    color: #4682b4;
}
//background-color//
.bg-color{
  background-color:#4682b4;
}
.bg-2{
    background-color: #6996bd;
}
